{% extends "base.html" %}
{% block content %}
<h2 class="text-primary">About Us</h2>
<p>At TransCare, we specialize in providing reliable and efficient transport across INDIA. Trans Care has different wings serving to specific customer transport requirements. With years of experience in the industry, we pride ourselves on delivering safe, timely, and cost-effective services for businesses and individuals alike. Understanding the expectations of the corporate clients we provide multiple services under a single umbrella.</p>
<h4 class="mt-4">Our Vision</h4>
<p>To be the most trusted and innovative transport company, known for reliability, professionalism, and customer satisfaction.</p>
<h4 class="mt-4">Why TransCare?</h4>
<ul>
  <li><h6>Reliability:</h6><p>We ensure your goods are delivered safely and on schedule.</p></li>
  <li><h6>Wide Fleet:</h6><p>Our fleet of modern vehicles is equipped to handle a variety of cargo safely.</p></li>
  <li><h6>Customized Solutions:</h6><p>Customized Solution as per per Requirements</p></li>
  <li><h6>Well Maintained Fleet:</h6><p>Our vehicles are regularly serviced and equipped with the latest safety features to ensure smooth operations.</p></li>
  <li><h6>Safe Travel Experience:</h6><p>Safety is our top priority — from goods transportation to passenger travel, we follow strict protocols.</p></li>
  <li><h6>Experienced and Professional Trained Chauffeurs:</h6><p>Our trained drivers and logistics staff provide expert, reliable service at all times.</p></li>
  <li><h6>24/7 Support:</h6><p>We are always available to assist with queries and tracking.</p></li>
</ul>
{% endblock %}
