{% extends "base.html" %}
{% block content %}
<h2 class="text-primary">Our Services</h2>
<div class="row gy-4">
  <ul>
    <li>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Bus Categories</h5>
    </div>
  </div>
  </li>
  <li>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Car Categories</h5>
    </div>
  </div>
  </li>
  <li>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Truck Categories</h5>
    </div>
  </div>
  </li>
  <li>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Ambulance Categories</h5>
    </div>
  </div>
  </li>
  <li>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Cranes Categories</h5>
    </div>
  </div>
  </li>
  </ul>
</div>
{% endblock %}
